* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}
.color {
  color: #ff3300;
}
.point {
  cursor: pointer;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}
a {
  text-decoration: none;
}
.navbar1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-scrolled {
  position: fixed;
  top: -70px;
  left: 0;
  width: 100%;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #f06407;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* effect-shine */
a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(255, 0, 0, 0.6) 30%,
    rgb(255, 0, 0) 50%,
    rgba(255, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 360%;
  }

  to {
    -webkit-mask-position: -360%;
  }
}
.main_img {
  background-image: url("https://cdn.pixabay.com/photo/2015/08/04/09/00/backdrop-874452__340.jpg");
  background-size: cover;
  position: relative;
}
/* Shape Divider */
.custom-shape-divider-top-1674587749 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1674587749 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 20px;
  transform: rotateY(180deg);
}
.custom-shape-divider-top-1674587749 .shape-fill {
  fill: #f09307;
}
/** shape divider for mobiles **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1674587749 svg {
    width: calc(282% + 1.3px);
    height: 7px;
  }
}
/* TEXT Split and Reveal Animation */

/* Skill Animation */
@import url("https://fonts.googleapis.com/css?family=Cairo");
.title1 {
  font-family: "Cairo";
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 24px;
  letter-spacing: 1px;
  line-height: 2;
}
.Skill_ani {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
}
/* styling my button */
.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #fff;
  transition: 0.35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}
.white-mode:hover {
  background-color: gold;
  color: #122;
}
/* skill image */
.skills {
  background-image: url("../img/pexels-content-pixie-2967810.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Media Queries */
@media (max-width: 480px) {
  .main_img {
    width: 100%;
    object-fit: cover;
    height: 316px;
  }
  .main_subImage {
    position: absolute;
    top: 29px;
    left: 49px;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  .main_para {
    position: absolute;
    top: 121px;
    left: 13px;
    font-size: 16px;
    margin: 0px 25px;
    width: auto;
  }
  .weather_body {
    min-height: 300px;
  }
  #search {
    margin-top: 25px;
    padding: 0.5rem;
  }
  .map {
    height: 250px;
  }
  .weather_input {
    width: 220px;
  }
  .search_width {
    width: 123px;
    height: 45px;
    overflow: auto;
  }
}
/* ipad and tablets */
@media (min-width: 481px) and (max-width: 767px) {
  .main_img {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 226px;
  }
  .main_subImage {
    position: absolute;
    top: 29px;
    left: 49px;
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  .main_para {
    position: absolute;
    top: 115px;
    left: 13px;
    font-size: 16px;
    margin: 0px 25px;
    width: auto;
  }
  .weather_body {
    min-height: 300px;
  }
  #search {
    margin-top: 25px;
    padding: 0.5rem;
  }
  .map {
    height: 250px;
  }
  .search_width {
    width: 160px;
    height: 45px;
    overflow: auto;
  }
}
/* small screen laptop */
@media (min-width: 768px) and (max-width: 1024px) {
  .main_img {
    width: 100%;
    object-fit: cover;
    height: 225px;
  }
  .main_subImage {
    height: 162px;
    width: 162px;
    object-fit: cover;
  }
  .main_para {
    font-size: 21px;
  }
  .weather_body {
    min-height: 364px;
  }
  #search {
    margin-top: 53px;
    padding: 0.5rem;
  }
  .map {
    height: 364px;
  }
  .search_width {
    width: 120px;
    height: 45px;
    overflow: auto;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .main_img {
    box-sizing: border-box;
    width: 100%;
    min-height: 225px;
    object-fit: cover;
  }
  .main_subImage {
    height: 162px;
    width: 162px;
    object-fit: cover;
    /* box-sizing: border-box; */
  }
  .main_para {
    box-sizing: border-box;
    font-size: 21px;
    margin: 12px 30px;
  }
  .weather_body {
    min-height: 364px;
  }
  #search {
    margin-top: 53px;
    padding: 0.5rem;
  }
  .map {
    height: 364px;
  }
  .search_width {
    width: 215px;
    height: 45px;
    overflow: auto;
  }
}
@media (min-width: 1201px) {
  .main_img {
    width: 100%;
    height: 207px;
    object-fit: cover;
  }
  .main_subImage {
    height: 162px;
    width: 162px;
    object-fit: cover;
  }
  .main_para {
    font-size: 21px;
    margin: 12px 30px;
  }
  .weather_body {
    min-height: 400px;
  }
  #search {
    margin-top: 53px;
    padding: 0.5rem;
  }
  .map {
    height: 400px;
  }
  .search_width {
    width: 240px;
    height: 45px;
    overflow: auto;
  }
}
/* Weahter App Css */
input:focus {
  outline: none;
}
.weather h2 {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.weather img {
  height: 92px;
}

/* Loader */
.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f06407;
  border-color: #f06407 transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search_width::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: rgb(213, 241, 227);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-left: 2px solid blue;
  border-right: 2px solid red;
}
#myRange {
  accent-color: red;
}
